/.gradle/
/build/
/.eclipse/
/.mixin.out/
/config/
/logs/
/mods/
/resourcepacks/
/run/
/saves/
/babyhack/

options.txt
usercache.json
usernamecache.json
.classpath
.settings/
bin/
src/main/java/META-INF/
